<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Recorder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/SpeechRecognition.js') }}"></script>
    <script src="{{ url_for('static', filename='js/models.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <title>CloudASR API</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>CloudASR <small>Dictate demo</small></h1>
        </div>

        <p class="text-center">
            <a id="start_recording" class="btn"><img src="{{ url_for('static', filename='img/microphone.png') }}" /></a>
            <a id="stop_recording" class="btn btn-danger" style="display: none"><img src="{{ url_for('static', filename='img/microphone_speech.png') }}" /></a>
        </p>

        <p id="start_recording_text" class="text-center lead">
            Click on the microphone to <strong>record your speech</strong>.
        </p>

        <p id="stop_recording_text" class="text-center lead" style="display: none">
            Click on the microphone to <strong>stop recording</strong>.
        </p>

        <div id="error" class="alert alert-danger text-center" role="alert" style="display: none"></div>

        <div id="result" class="well"></div>

        <div class="text-center">
            <select id="language-model" class="form-control"></select>
        </div>
    </div>
</body>
</html>
