{% extends "layout.html" %}

{% block body %}

<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='js/Recorder.js') }}"></script>
<script src="{{ url_for('static', filename='js/SpeechRecognition.js') }}"></script>
<script src="{{ url_for('static', filename='js/models.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
var apiUrl = "{{ api_url }}";
var availableWorkersUrl = "{{ url_for('available_workers') }}";
var model = "{{ model }}";
</script>


<h1>CloudASR <small>Dictate demo</small></h1>

<p class="text-center">
    <a id="start_recording" class="btn"><img src="{{ url_for('static', filename='img/microphone.png') }}" /></a>
    <a id="stop_recording" class="btn btn-danger" style="display: none"><img src="{{ url_for('static', filename='img/microphone_speech.png') }}" /></a>
</p>

<p id="start_recording_text" class="text-center lead">
    Click on the microphone to <strong>record your speech</strong>.
</p>

<p id="stop_recording_text" class="text-center lead" style="display: none">
    Click on the microphone to <strong>stop recording</strong>.
</p>

<div id="error" class="alert alert-danger text-center" role="alert" style="display: none"></div>

<div class="well well-lg">
    <div id="result"></div>
    <div class="text-right" style="color: #777; display: none"><small id="request_id"></small></div>
</div>

<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <select id="language-model" class="form-control"></select>
    </div>
</div>

<div class="well" style="margin-top: 20px">
    <h3 class="lang-name"></h3>
    <div id="en-voxforge" class="lang-description"></div>
</div>

<div class="well" style="margin-top: 20px">
    <h4>Privacy &amp; Terms</h4>
    <p>
        All data, including audio recording, is stored for the purpose of ASR quality improvement.
        Note that the data can be shared with third parties for both research and commercial purposes.
        All collected data will be made available to the ASR community;
            therefore, do not say anything you do not want anyone to know about.
    </p>

    <p>
        The service is available for free.
        As a result, no guarantees are given regarding the quality of ASR results.
        As of now, it is a beta product; thus,
            things may break and the service may not be available for large periods of time.
    </p>
</div>

{% endblock %}
