{% extends "layout.html" %}
{% block body %}

{% if worker["id"] != None %}
<h2>Edit description of model: {{ worker["id"] }}</h2>
{% else %}
<h2>Add new model</h2>
{% endif %}


<form class="form-horizontal" action="{{ url_for('save_worker_description') }}" method="POST">
    <div class="form-group">
        <label for="id" class="col-sm-2 control-label">Id</label>
        <div class="col-sm-10">
            <input type="text" name="id" value="{{ worker["id"] if worker["id"] != None }}" {{ "readonly" if worker["id"] != None }} id="id" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" name="name" value="{{ worker["name"] if worker["name"] != None }}" id="name" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea name="description" id="description" class="form-control" rows="5">{{ worker["description"] if worker["description"] != None }}</textarea>
        </div>
    </div>

    <div id="language-models">
        {% for lm in worker.language_models %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Language model <a href="#" class="btn btn-xs btn-danger delete-language-model"><span class="glyphicon glyphicon-remove"></span></a></label>
                <div class="col-sm-5">
                    <input type="text" name="lm-id[]" value="{{ lm["key"] }}" class="form-control" placeholder="id" />
                </div>
                <div class="col-sm-5">
                    <input type="text" name="lm-name[]" value="{{ lm["name"] }}" class="form-control" placeholder="name" />
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-default" value="Save" />
            <input type="button" class="btn btn-default" value="Add Language Model" id="add-language-model" />
        </div>
    </div>
</form>


<h2>Preview</h2>

<div class="well">
    <h3 id="preview-name">{{ worker["name"] if worker["name"] != None }}</h3>
    <div id="preview-description">{{ worker["description"] | safe if worker["description"] != None }}</div>
</div>


<script>
$(document).ready(function() {
    $("#name").keyup(function() {
        $("#preview-name").text($(this).val());
    });

    $("#description").keyup(function() {
        $("#preview-description").html($(this).val());
    });

    $("#add-language-model").click(function() {
        var $removeButton = $('<a href="#" class="btn btn-xs btn-danger delete-language-model"><span class="glyphicon glyphicon-remove"></span></a>');

        var $languageModelInput = $('<div class="form-group"></div>');
        $languageModelInput.append($('<label class="col-sm-2 control-label">Language model </label>').append($removeButton));
        $languageModelInput.append($('<div class="col-sm-5"><input type="text" name="lm-id[]" class="form-control" placeholder="id" /></div>'));
        $languageModelInput.append($('<div class="col-sm-5"><input type="text" name="lm-name[]" class="form-control" placeholder="name" /></div>'));

        $("#language-models").append($languageModelInput);
    });

    $("#language-models").on("click", ".delete-language-model", function(event) {
        event.preventDefault();
        $(event.target).closest('div.form-group').remove();
    });
});
</script>

{% endblock %}
