<!-- FOOTER -->
<div class="row-fluid lindat-footer">

<div class="lindat-footer-main">
		<span>
			<div>
				<a class="clarinb-logo" href="http://hdl.handle.net/1839/00-DOCS.CLARIN.EU-99" title="Clarin B Center"> </a>
			</div>
			<div>
				<a class="dsa-logo" href="https://assessment.datasealofapproval.org/assessment_92/seal/html" title="Data Seal of Approval"> </a>
			</div>
		</span>
		<span>
	        <h1>Partners, Coordination, Funding</h1>
	        <ul class="unstyled">
	          <li><a href="http://www.kky.zcu.cz/en">Dept. of Cybernetics, Univ. of West Bohemia</a></li>
	          <li><a href="http://ufal.mff.cuni.cz">Institute of Formal and Applied Linguistics (Prague)</a></li>
	          <li><a href="http://www.ujc.cas.cz">Institute of Czech Language (Prague)</a></li>
	          <li><a href="http://nlp.fi.muni.cz">NLP Centre, Masaryk University (Brno)</a></li>
	          <li><a href="http://www.msmt.cz">Ministry of Education, Sports and Youth of the Czech Republic</a></li>
	        </ul>
		</span>
		<span>
	        <h1>Repository</h1>
	        <ul class="unstyled">
	          <li><a href="https://lindat.mff.cuni.cz/repository/xmlui/">Main page</a></li>
	          <li><a href="https://lindat.mff.cuni.cz/lindat/contact">Contact</a></li>
	          <li class="repository-only"><a href="https://lindat.mff.cuni.cz/repository/xmlui/page/item-lifecycle">Submission Lifecycle</a></li>
	          <li class="repository-only"><a href="https://lindat.mff.cuni.cz/repository/xmlui/page/faq">FAQ</a></li>
	          <li class="repository-only"><a href="https://lindat.mff.cuni.cz/repository/xmlui/page/about">About and Policies</a></li>
	        </ul>
		</span>
		<span>
	        <h1>More</h1>
	        <ul class="unstyled">
	          <li><a href="http://www.clarin.eu/">Clarin</a></li>
	          <li><a href="http://www.meta-net.eu/">META-Net</a></li>
		      <li><a href="https://lindat.mff.cuni.cz/en/monitoring">Service Status</a></li>
	          <li><a href="blocked-idps">Authentication</a></li>
	        </ul>
		</span>
		<span>
			<div>
				<a class="lindat-logo-mono" href="http://lindat.mff.cuni.cz/lindat/" title="LINDAT/CLARIN"> </a>
			</div>
			<div>
				<a class="msmt-logo-mono" href="http://www.msmt.cz/" title="MŠMT"> </a>
			</div>
		</span>
	</div>
	<div class="lindat-copyright">
	    <p>
	      <strong>THE LINDAT/CLARIN PROJECT (LM2010013) IS FULLY
	        SUPPORTED BY THE MINISTRY OF EDUCATION, SPORTS <br /> AND YOUTH OF
	        THE CZECH REPUBLIC UNDER THE PROGRAMME LM OF "LARGE
	        INFRASTRUCTURES".
	      </strong>
	    </p>
	    <p>Copyright (c) 2016 UFAL MFF UK. All rights reserved.</p>
	</div>

  <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        // main LINDAT/CLARIN tracker
        ga('create', 'UA-27008245-2', 'cuni.cz');
        ga('send', 'pageview');
  </script>

  <!-- Piwik LINDAT/CLARIN tracker -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.mff.cuni.cz"]);
    _paq.push(["setDomains", ["*.mff.cuni.cz"]]);
    _paq.push(['setCustomVariable', 1, "source", "common-theme", "page"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//ufal.mff.cuni.cz/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 2]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//ufal.mff.cuni.cz/piwik/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->

</div>
<!-- FOOTER END -->
