{% extends "layout.html" %}

{% block body %}

<h1>
    CloudASR
    <small>software platform and a public ASR webservice</small>
</h1>

<div class="lead">
    <p>
        CloudASR is a software platform and a public ASR webservice. Its three strong features are:
    </p>

    <ul>
        <li>automatic scalability with increased workload</li>
        <li>ease of deployment</li>
        <li>state-of-the-art incremental speech recognition</li>
    </ul>

    <p>
        Platform’s API supports both batch and incremental speech recognition.
        The batch version is compatible with Google Speech API.
        New ASR engines can be added onto the platform and work simultaneously.
    </p>
</div>

{% endblock %}
