<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lindat.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <title>CloudASR</title>

    {% if ga_tracking_id %}
    <script src="{{ url_for('static', filename='js/eu_cookies.min.js') }}" async></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ ga_tracking_id }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</head>
<body>
    {% include 'header.html' %}

    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">CloudASR</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="/demo">Demo</a></li>
                <li><a href="/worker-types">Transcribe</a></li>
                <li><a href="/documentation">Documentation</a></li>
                <li><a href="https://github.com/UFAL-DSG/cloud-asr">View on GitHub</a></li>
            </ul>

            {% if current_user.is_authenticated() %}
                <div class="navbar-right">
                    <p class="navbar-text">
                        You're logged in as {{ current_user.name }}
                    </p>
                    <a href="{{ logout_url }}" class="btn btn-default navbar-btn">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </a>
                </div>
            {% else %}
                <a href="{{ google_login_url }}" class="btn btn-default navbar-btn navbar-right">Login with Google+</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
