body {
	font-family: "Droid Sans", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

form {
	margin: 0px;
}

.container:before {
	content: "";
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-color: #FFF;
	display: block;
}


.container {
	background-color: #FFF;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #C0C0C0;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #C0C0C0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #C0C0C0;
}

.contents {
	display: block;
	position: relative;
}

.hero-unit {
	background-color: #F2F2F2;
	border-bottom: solid 1px #E5E5E5;
}

.hero-unit li {
	font-size: 14px;
	line-height: 20px;
}

.sidebar {
	position: relative;
	border-left: 1px solid #C0C0C0;
	background-color: #f2f2f2;
}

.nav-search {
	position: absolute;
	top: 5px;
	right: 22px;
	line-height: 24px
}

.nav-search .form-search {
	margin-top: 1px
}

.nav-search .nav-search-input {
	border-color: #6fb3e0;
	border-width: 1px;
	width: 120px;
	height: 18px !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	font-size: 13px;
	color: #666 !important;
	z-index: 11;
	-webkit-transition: all ease .15s;
	-moz-transition: all ease .15s;
	-o-transition: all ease .15s;
	transition: all ease .15s
}

.nav-search .nav-search-input+.dropdown-menu {
	min-width: 0;
	left: 0;
	right: 0
}

.nav-search .nav-search-input:focus,.nav-search .nav-search-input:hover {
	border-color: #6fb3e0;
}

.nav-search .nav-search-fa {
	color: #6fb3e0 !important;
	font-size: 14px !important;
	line-height: 24px !important
}

.sidebar>.nav-search {
	position: static;
	background-color: #fafafa;
	border-bottom: 1px solid #DDD;
	text-align: center;
	height: 35px;
	padding-top: 5px
}

.sidebar>.nav-search .nav-search-input {
	width: 130px !important;
	border-radius: 0 !important;
	max-width: 130px !important;
	opacity: 1 !important;
	filter: alpha(opacity = 100) !important
}

.sidebar>.nav-search .nav-search-input+.dropdown-menu {
	text-align: left
}

.sidebar>.nav-search .nav-search-fa {
	border: 0;
	border-radius: 0;
	padding: 0 3px
}

.sidebar.fixed {
	position: fixed;
	z-index: 1029;
	top: 45px;
	left: 0
}

.sidebar.fixed:before {
	left: 0;
	right: auto
}

.bold {
	font-weight: bold;
}

li [class^="fa-"],li [class*=" fa-"],.nav-list li [class^="fa-"],.nav-list li [class*=" fa-"]
	{
	width: auto
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style: none
}

.nav-list>li>a,.nav-list .nav-header {
	margin: 0
}

.nav-list>li {
	display: block;
	padding: 0;
	margin: 0;
	border: 0;
	border-top: 1px solid #fcfcfc;
	border-bottom: 1px solid #e5e5e5;
	position: relative
}

.nav-list>li:first-child {
	border-top: 0
}

.nav-list>li>a {
	display: block;
	height: 38px;
	line-height: 36px;
	padding: 0 16px 0 7px;
	background-color: #f9f9f9;
	color: #585858;
	text-shadow: none !important;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
}

.nav-list>li>a>[class*="fa-"]:first-child {
	display: inline-block;
	vertical-align: middle;
	min-width: 30px;
	text-align: center;
	font-size: 18px;
	font-weight: normal
}

.nav-list>li>a:focus {
	background-color: #f9f9f9;
	color: #7479b8;
}

.nav-list>li>a:hover {
	background-color: #FFF;
	color: #7479b8;
}

.nav-list>li>a:hover:before {
	display: block;
	content: "";
	position: absolute;
	top: -1px;
	bottom: 0;
	left: 0;
	width: 3px;
	max-width: 3px;
	overflow: hidden;
	background-color: #7479b8;
}

.nav-list>li a>.arrow {
	display: inline-block;
	width: 14px !important;
	height: 14px;
	line-height: 14px;
	text-shadow: none;
	font-size: 18px;
	position: absolute;
	right: 9px;
	top: 11px;
	padding: 0;
	color: #666
}

.nav-list>li a:hover>.arrow,
{
	color: #7479b8;
}

.nav-list>li.separator {
	height: 3px;
	background-color: transparent;
	position: static;
	margin: 1px 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.nav-list>li.open>a {
	background-color: #fafafa;
}

.nav-list>li.active {
	background-color: #fff
}

.nav-list>li.active>a,.nav-list>li.active>a:hover,.nav-list>li.active>a:focus,.nav-list>li.active>a:active
	{
	background-color: #fff;
	color: #7479b8;
	font-weight: bold;
	font-size: 13px
}

.nav-list>li.active>a>[class*="fa-"] {
	font-weight: normal
}

.nav-list>li.active>a:hover:before {
	display: none
}

.nav-list>li.active:after {
	display: inline-block;
	content: "";
	position: absolute;
	right: -2px;
	top: -1px;
	bottom: 0;
	border-right: 2px solid #0b6cbc
}

.nav-list>li.open {
	border-bottom-color: #e5e5e5
}

.nav-list>li.open .submenu {
	display: block
}

.nav-list>li .submenu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #fff;
	border-top: 1px solid #e5e5e5
}

.nav-list>li .sublist {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	border-top: 1px solid #e5e5e5
}

.nav-list>li .sublist>li>a {
	display: block;
	position: relative;
	color: #616161;
	padding: 3px 0 4px 20px;
	margin: 0;
	border-top: 1px dotted #e4e4e4
}

.nav-list>li .submenu>li {
	margin-left: 0;
	position: relative
}

.nav-list>li .submenu>li>a {
	display: block;
	position: relative;
	color: #616161;
	padding: 7px 0 8px 37px;
	margin: 0;
	border-top: 1px dotted #e4e4e4
}

.nav-list>li .submenu>li>a:focus {
	text-decoration: none
}

.nav-list>li .submenu>li>a:hover {
	text-decoration: none;
	color: #7479b8;
}

.nav-list>li .submenu>li.active>a {
	color: #0b6cbc
}

.nav-list>li .submenu>li a>[class*="fa-"]:first-child {
	display: none;
	font-size: 12px;
	font-weight: normal;
	width: 18px;
	height: auto;
	line-height: 12px;
	text-align: center;
	position: absolute;
	left: 10px;
	top: 11px;
	z-index: 1;
	background-color: #FFF
}

.nav-list>li .submenu>li.active>a>[class*="fa-"]:first-child,.nav-list>li .submenu>li:hover>a>[class*="fa-"]:first-child
	{
	display: inline-block
}

.nav-list>li .submenu>li.active>a>[class*="fa-"]:first-child {
	color: #c86139
}

.nav-list>li>.submenu>li:first-child>a {
	border-top: 1px solid #fafafa
}

.nav-list>li>.submenu:before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	left: 18px;
	top: 0;
	bottom: 0;
	border-left: 1px solid #ccd7e2
}

.nav-list>li.active>.submenu>li:before {
	border-top-color: #bccfe0
}

.nav-list>li.active>.submenu:before {
	border-left-color: #bccfe0
}

.nav-list li .submenu {
	overflow: hidden
}

.nav-list li.active>a:after {
	display: block;
	content: "";
	position: absolute !important;
	right: 0;
	top: 4px;
	border: 8px solid transparent;
	border-width: 14px 10px;
	border-right-color: #0b6cbc
}

.nav-list li.open>a:after {
	display: none
}

.nav-list li.active.open>.submenu>li.active.open>a.dropdown-toggle:after {
	display: none
}

.nav-list li.active>.submenu>li.active>a:after {
	display: none
}

.nav-list li.active.open>.submenu>li.active>a:after {
	display: block
}

.nav-list li.active.no-active-child>a:after {
	display: inline-block !important
}

.nav-list a .badge,.nav-list a .label {
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	position: absolute;
	top: 9px;
	right: 11px;
	opacity: .88
}

.nav-list a .badge [class*="fa-"],.nav-list a .label [class*="fa-"] {
	vertical-align: middle;
	margin: 0
}

.nav-list a.dropdown-toggle .badge,.nav-list a.dropdown-toggle .label {
	right: 28px
}

.nav-list a:hover .badge,.nav-list a:hover .label {
	opacity: 1
}

.nav-list .submenu .submenu a .badge,.nav-list .submenu .submenu a .label
	{
	top: 6px
}

.sidebar-collapse {
	border-bottom: 1px solid #e0e0e0;
	background-color: #f3f3f3;
	text-align: center;
	padding: 3px 0;
	position: relative
}

.sidebar-collapse>[class*="fa-"] {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	color: #aaa;
	border: 1px solid #bbb;
	padding: 0 5px;
	line-height: 18px;
	border-radius: 16px;
	background-color: #fff;
	position: relative
}

.sidebar-collapse:before {
	content: "";
	display: inline-block;
	height: 0;
	border-top: 1px solid #e0e0e0;
	position: absolute;
	left: 15px;
	right: 15px;
	top: 13px
}

.sidebar-shortcuts {
	background-color: #fafafa;
	border-bottom: 1px solid #ddd;
	text-align: center;
	line-height: 37px;
	max-height: 40px;
	margin-bottom: 0
}

.sidebar-shortcuts-large {
	padding-bottom: 4px
}

.sidebar-shortcuts-large>.btn>[class*="fa-"] {
	font-size: 110%
}

.nav-list>li>.submenu li>.submenu {
	border-top: 0;
	background-color: transparent;
	display: none
}

.nav-list>li>.submenu li.active>.submenu {
	display: block
}

.nav-list>li>.submenu a>.arrow {
	right: 11px;
	top: 10px;
	font-size: 16px;
	color: #6b828e
}

.nav-list>li>.submenu li>.submenu>li>a>.arrow {
	right: 12px;
	top: 9px
}

.nav-list>li>.submenu li>.submenu>li {
	line-height: 16px
}

.nav-list>li>.submenu li>.submenu>li:before {
	display: none
}

.nav-list>li>.submenu li>.submenu>li>a {
	margin-left: 20px;
	padding-left: 22px
}

.nav-list>li>.submenu li>.submenu>li>.submenu>li>a {
	margin-left: 20px;
	padding-left: 38px
}

.nav-list>li>.submenu li>.submenu>li a>[class*="fa-"]:first-child {
	display: inline-block;
	color: inherit;
	font-size: 14px;
	position: static;
	background-color: transparent
}

.nav-list>li>.submenu li>.submenu>li a {
	font-size: 13px;
	color: #777
}

.nav-list>li>.submenu li>.submenu>li a:hover {
	color: #7479b8;
	text-decoration: underline
}

.nav-list>li>.submenu li>.submenu>li a:hover [class*="fa-"] {
	text-decoration: none;
	color: #7479b8;
}

.nav-list>li>.submenu li.open>a {
	color: #7479b8;
}

.nav-list>li>.submenu li.open>a>[class*="fa-"]:first-child {
	display: inline-block
}

.nav-list>li>.submenu li.open>a .arrow {
	color: #7479b8;
}

.nav-list>li>.submenu li>.submenu li.open>a {
	color: #7479b8;
}

.nav-list>li>.submenu li>.submenu li.open>a>[class*="fa-"]:first-child {
	display: inline-block;
	color: #7479b8;
}

.nav-list>li>.submenu li>.submenu li.open>a .arrow {
	color: #7479b8;
}

.nav-list>li>.submenu li>.submenu li.active>a {
	color: #136bb4
}

.nav-list>li>.submenu li>.submenu li.active>a>[class*="fa-"]:first-child
	{
	display: inline-block;
	color: #136bb4
}

.nav-list>li.active.open li.active>a:after {
	top: 2px;
	border-width: 14px 8px
}

.nav-list>li.active.open li.active.open li.active>a:after {
	top: 0
}

.no-radius {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.no-padding {
	padding: 0px;
}

.no-margin {
	margin: 0px;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sidebar .open>a>.arrow {
	display: none;
}

.sidebar .always-open>a>.arrow {
	display: none;
}

.item-box {
	position: relative;
	display: block;
	margin: 15px 0;
	padding: 39px 19px 14px;
	*padding-top: 19px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.item-box>.item-type {
	position: absolute;
	top: -1px;
	left: -1px;
	margin: 0px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	text-transform: capitalize;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

.item-box .item-label {
	position: absolute;
	bottom: -1px;
	right: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	text-transform: capitalize;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

.sidebar[class*="span"] {
	float: right;
	margin: 0px;
	z-index: 2;
}

.sidebar[class*="placeholder"] {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: 0px;
	z-index: 1;
}

.nav-list>li.always-open .submenu {
	display: block
}

#discojuice_overlay {
	position: fixed !important;
}


.item-box>div {
	margin-top: 5px;
}

.navbar .pagination {
	margin: 0px;
	margin-top: 5px;
}

.contents>.span9 {
	margin: 15px !important;
}

@media ( max-width : 768px) {
	.sidebar {
		position: relative;
	}
	.sidebar[class*="placeholder"] {
		display: none;
	}

    .contents>.span9 {
            width: auto;
    }
}

@media ( max-width : 1200px) {
	.contents>.span9 {
		margin: 10px !important;
	}
}

.span9>ul {
	margin-left: 0px;
}

.span9>ol {
	margin-left: 0px;
}

.modal-header>pre {
	font-size: 80%;
}

.thumbnails>.span4:nth-child(3n+1) {
	margin-left: 0px;
}

.thumbnails dl {
	padding: 5px;
}

.pager {
	margin: 5px 0;
}

.table {
	background-color: #FFF;
	word-break: break-word; 
}

.table .control-group {
        margin-bottom: 0px !important;
}

.table td {
	min-width: 50px;
}

.controls {
        margin-left: 20px !important;
}

.table>caption {
        margin: 5px;
        text-align: left;
        font-weight: bold;
}

.well>.table {
        background-color: #FFF;
}

.well-light {
        background-color: #fafafa;
               box-shadow: none;
          -moz-box-shadow: none;
        webkit-box-shadow: none;
        webkit-border-radius: 8px;
          -moz-border-radius: 8px;
               border-radius: 8px;
}

.well-light>.well-light {
        webkit-border-radius: 0px;
          -moz-border-radius: 0px;
               border-radius: 0px;
               border: none;
               padding: none;
               margin: none;	
}

.well-white {
               box-shadow: none;
          -moz-box-shadow: none;
        webkit-box-shadow: none;
        webkit-border-radius: 8px;
          -moz-border-radius: 8px;
               border-radius: 8px;
        	background-color: #FFF;
}

.progressbar {
    list-style: none;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 20px 0;
    position: relative;
    counter-reset: progress;
}

.progressbar li {
    display: table-cell;
    text-align: center;
    width: 1%;
    counter-increment: progress;
}

.progressbar li .step {	
    border: 5px solid #ced1d6;
    color: #546474;
    font-size: 15px;
    border-radius: 100%;
    background-color: #FFF;
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center
}

.progressbar li .step:before {
	content: counter(progress);
	font-weight: bold;
}

.progressbar li:before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    font-size: 0;
    overflow: hidden;
    border-top: 4px solid #ced1d6;
    position: relative;
    top: 21px;
    z-index: 1;
}

.progressbar li:last-child:before {
    max-width: 50%;
    width: 50%
}

.progressbar li:first-child:before {
    max-width: 51%;
    left: 50%
}

.progressbar li.active:before,
.progressbar li.complete:before,
.progressbar li.active .step,
.progressbar li.complete .step {
    border-color: #7479b8;
}

.progressbar li.complete .step {
    cursor: default;
    color: #FFF;
    -webkit-transition: transform ease .1s;
    -moz-transition: transform ease .1s;
    -o-transition: transform ease .1s;
    transition: transform ease .1s
}

.progressbar li.complete .step:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    content: "\f00c";
    background-color: #FFF;
    z-index: 3;
    font-family: FontAwesome;
    font-size: 17px;
    color: #87ba21;
}

.progressbar li.active .step {
	background-color: #7479b8;
	color: #FFF;
}

.progressbar li.complete:hover .step {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-color: #1F3F5E;
    cursor: pointer;
}

.progressbar li.complete:hover:before {
    border-color: #1F3F5E;
}

.progressbar li .title {
    display: block;
    margin-top: 4px;
    max-width: 100%;
    color: #1F3F5E;
    font-size: 14px;
    z-index: 104;
    text-align: center;
    table-layout: fixed;
    word-wrap: break-word
}

.progressbar li.complete .title,
.progressbar li.active .title {
    color: #2b3d53
}

.progressbar .control-group {
	display: none;
}

.discover-search-box ol {
	margin-left: 0px;
}

.inline .control-group {
	margin-bottom: 2px;
	display: inline-block;
}

.form-horizontal .control-label {
  float: none;
  width: none;
  padding-top: 5px;
  text-align: left;
  display: block;
}

.ds-checkbox-field legend {
	display: none;
}

input {
	vertical-align: top !important;
	margin-right: 5px !important;
}

input[type=file] {
	line-height: 10px;
}

.linebreak {
	white-space: pre-wrap;
}

.wordbreak {
	word-break: break-word;
}

.error .label {
	background-color: #c62d1f;
	color: #FFF !important;
}

.order-box {
	width: 20px;	
}

.error input[type='submit'] {
	border-color: #FFF;
	color: #FFF;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

.input-prepend input,
.input-append input {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

tr.btn {
	display: table-row;
}

.alert {
	margin-top: 20px;
}

dl {
	margin: 0;
	border-bottom: 1px dotted #F8F8F8;
	padding-top: 10px;
	padding-bottom: 10px;
}


@media print {
  
  body>:not(.container),
  body>.container>:not(.contents),
  body>.container>.contents>:not(.contents),
  body>.container>.contents>.contents>:not(.span9),
  .thumbnail>a,
  .fa-print {
        display: none;
  }
  
  a[href]:after {
    content: none;
  }  
  
}

.font_smaller {
  font-size: 80%;
}

.modal-open {
	margin-right: 0px !important;
}

.carousel-inner div {
    text-align: center;
    margin-top: 10px;
    vertical-align: bottom;
    min-height: 80px;
}

.carousel-inner {
    min-height: 120px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: -20px;
}

.custom {
    margin-top: 10px;
}