{% extends "layout.html" %}
{% block body %}
<h2>Recent recordings:</h2>

{% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
{% endwith %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-md-6">Model</th>
            <th class="col-md-6">Recordings</th>
        </tr>
    </thead>
    <tbody>
        {% for model in models %}
            <tr>
                <td><a href="{{ url_for('recordings', model_name=model["model"]) }}">{{ model["model"] }}<a/></td>
                <td>{{ model[1] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
