<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>CloudASR Annotation Interface</title>
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <h1>CloudASR Annotation Interface</h1>
        </div>
    </div>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
