<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>CloudASR Annotation Interface</title>
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">CloudASR Annotation Interface</a>
            </div>

            {% if current_user.is_authenticated() %}
                <div class="navbar-right">
                    <p class="navbar-text">
                        You're logged in as {{ current_user.name }}
                    </p>
                    <a href="{{ logout_url }}" class="btn btn-default navbar-btn">Logout</a>
                </div>
            {% else %}
                <a href="{{ google_login_url }}" class="btn btn-default navbar-btn navbar-right">Login with Google+</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
