<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>CloudASR Annotation Interface</title>
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <h1>CloudASR Annotation Interface</h1>
        </div>
    </div>

    <div class="container">
        <h2>Transcribe recording:</h2>

        <form action="{{ url_for('save_transcription') }}" method="POST">
            <audio id="audio-{{ recording["id"] }}" controls src="{{ recording["url"] }}"></audio>

            <div class="control-group">
                <label for="transcription">Transcription:</label>
                <div class="controls">
                    <textarea name="transcription" class="form-control" rows=3></textarea>
                </div>
            </div>

            <div class="control-group">
                <button type="submit" class="btn btn-primary" />Save</button>
                <input type="hidden" name="id" value="{{ recording["id"] }}" />
            </div>
        </form>
    </div>
</body>
</html>
