{% extends "layout.html" %}
{% block body %}
<h2>Transcribe recording:</h2>

<form action="{{ url_for('save_transcription') }}" method="POST">
    <audio id="audio-{{ recording["id"] }}" controls src="{{ recording["url"] }}"></audio>

    <div class="control-group">
        <label for="transcription">Transcription:</label>
        <div class="controls">
            <textarea name="transcription" class="form-control" rows=3></textarea>
        </div>
    </div>

    <div class="control-group">
        <button type="submit" class="btn btn-primary" />Save</button>
        <input type="hidden" name="id" value="{{ recording["id"] }}" />
    </div>
</form>
{% endblock %}
